<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<html lang="en">
	<head>
		<title>YMiCarrito.com</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.scrollzer.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/fn.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
			<link rel="stylesheet" href="Estilos_SocialBar.css">
  			<link rel="stylesheet" href="fonts.css">
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header" class="skel-layers-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<h1 id="title">YMiCarrito.com</h1>
							<p>Conoce más de tu auto ideal</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--
							
								Prologue's nav expects links in one of two formats:
								
								1. Hash link (scrolls to a different section within the page)
								
								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>
							
							-->
							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicio</span></a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Catálogo</span></a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Comparador</span></a></li>
								<li><a href="#news" id="news-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Novedades</span></a></li>
								
							</ul>
						</nav>
						
				</div>
				
				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="http://www.facebook.com" target="_blank" class="icon fa-facebook" class="icon-facebook"></a></li>
							<li><a href="http://www.twitter.com" target="_blank" class="icon fa-twitter" class="icon-twitter"><span class="label">Facebook</span></a></li>
							<li><a href="http://www.googleplus.com" target="_blank" class="icon fa-google" class="icon-google"><span class="label">Google+</span></a></li>
							<li><a href="http://www.pinterest.com" target="_blank" class="icon fa-pinterest" class="icon-pinterest"><span class="label">Pinterest</span></a></li>
							<li><a href="mailto:rocio.aranguenap@gmail.com" target="_blank" class="icon fa-mail" class="icon-mail"><span class="label">Email</span></a></li>
						</ul>
				
				</div>
			
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
					<div class="container">
							
							<div class="imagenFondo">
								<img src="images/AutoFondo_3.JPG" height="500px" width="800px" style="position:relative; left:20px; top:-50px;">
							</div>

							<header>
								<h2 class="alt"></h2>
								<p style="position:relative; left:0px; top:-100px;"><br><strong>Te ayudamos a encontrar el mejor auto para ti...</strong><br>
								</p>
							</header>
							
							<footer>
								<a href="#portfolio" class="button scrolly">Login</a>
							</footer>

						</div>
					</section>

					
				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">
					
							<header>
								<h2>Catálogo</h2>
							</header>
							
							<p>Encuentra información de equipamiento, colores, precios, datos técnicos y fotos de todos los autos del mercado. Solicita cotización a concesionarias de todo el país.</p>
						
							<div class="row">
								<div class="2u">
									<article class="item">
										<a href="http://www.mazda.pe" target="_blank" class="image fit"><img src="images/mazda.jpg" alt="" /></a>
									</article>
									<article class="item">
										<a href="http://www.kia.com.pe" target="_blank" class="image fit"><img src="images/kia.jpg" alt="" /></a>
									</article>
								</div>
								<div class="2u">
									<article class="item">
										<a href="http://www.nissan.com.pe" target="_blank" class="image fit"><img src="images/nissan.jpg" alt="" /></a>
									</article>
									<article class="item">
										<a href="http://www.peugeot.com.pe" target="_blank" class="image fit"><img src="images/peugeot.jpg" alt="" /></a>
									</article>
								</div>
								<div class="2u">
									<article class="item">
										<a href="http://www.honda.com.pe" target="_blank" class="image fit"><img src="images/honda.jpg" alt="" /></a>
									</article>
									<article class="item">
										<a href="http://www.Hyundai.com.pe" target="_blank" class="image fit"><img src="images/Hyundai.jpg" alt="" /></a>
									</header>
									</article>
								</div>
								<div class="2u">
									<article class="item">
										<a href="http://www.chevrolet.com.pe" target="_blank" class="image fit"><img src="images/chevrolet.jpg" alt="" /></a>
									</article>
									<article class="item">
										<a href="http://www.fiat.com.pe" target="_blank" class="image fit"><img src="images/fiat.jpg" alt="" /></a>
									</header>
									</article>
								</div>
								<div class="2u">
									<article class="item">
										<a href="http://www.renault.com.pe" target="_blank" class="image fit"><img src="images/renault.jpg" alt="" /></a>
									</article>
									<article class="item">
										<a href="http://www.suzuki.com.pe" target="_blank" class="image fit"><img src="images/suzuki.jpg" alt="" /></a>
									</header>
									</article>
								</div>
								<div class="2u">
									<article class="item">
										<a href="http://www.toyotaperu.com.pe" target="_blank" class="image fit"><img src="images/toyota.jpg" alt="" /></a>
									</article>
									<article class="item">
										<a href="http://www.volkswagen.com.pe" target="_blank" class="image fit"><img src="images/volkswagen.jpg" alt="" /></a>
									</header>
									</article>
								</div>
						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>Comparador</h2>
							</header>

							<p>Compara autos</p>
							<div class="column">
<div>
	<table class="comparadorHead">
<tbody>
<th rowspan="6" scope="row" class="inicial border0">
				<p>Encontrá cuál es el auto que mejor se adapta a tus necesidades con nuestro comparador.</p>
				</th>
				<td class="border0"></td><td class="border0"></td><td class="border0"></td><td class="border0"></td><td class="border0"></td>
				</tr>
			<tr class="fotos">
				
				<td class="center border0"><img id ="comparador1" src="images/auto.gif"></td>
				
				<td class="center border0"><img id ="comparador2" src="images/auto.gif"></td>
				
				<td class="center border0 fifth"><img id ="comparador3" src="images/auto.gif"></td>			
			</tr>

<tr>
<td >
						<div id="containerBrands_1">
						<select id="idMarca1">
						 <option value="-1">Selecciona una marca</option>
						 <option value="13">Alfa Romeo</option>
						 <option value="11">Audi</option>
						 <option value="14">BMW</option>
						 <option value="3">Chery</option>
						 <option value="24">Chevrolet</option>
						 <option value="31">Chrysler</option>
						 <option value="19">Citroën</option>
						 <option value="29">Dodge</option>
						 <option value="17">Ferrari</option>
						 <option value="1">Fiat</option>
						 <option value="4">Ford</option>
						 <option value="30">Honda</option>
						 <option value="10">Hyundai</option>
						 <option value="25">Jaguar</option>
						 <option value="28">Jeep</option>
						 <option value="5">KIA</option>
						 <option value="22">Land Rover</option>
						 <option value="18">MINI</option>
						 <option value="20">Maserati</option>
						 <option value="16">Mercedes-Benz</option>
						 <option value="12">Mitsubishi</option>
						 <option value="8">Nissan</option>
						 <option value="6">Peugeot</option>
						 <option value="15">Porsche</option>
						 <option value="396">RAM</option>
						 <option value="7">Renault</option>
						 <option value="382">Smart</option>
						 <option value="168">SsangYong</option>
						 <option value="23">Subaru</option>
						 <option value="27">Toyota</option>
						 <option value="2">Volkswagen</option>
						 <option value="9">Volvo</option>
						</select>
						</div>
				</td>

				<td class="center border0">
						<div  id="containerBrands_2">
						<select id="idMarca2">
						 <option value="-1">Selecciona una marca</option>
						 <option value="13">Alfa Romeo</option>
						 <option value="11">Audi</option>
						 <option value="14">BMW</option>
						 <option value="3">Chery</option>
						 <option value="24">Chevrolet</option>
						 <option value="31">Chrysler</option>
						 <option value="19">Citroën</option>
						 <option value="29">Dodge</option>
						 <option value="17">Ferrari</option>
						 <option value="1">Fiat</option>
						 <option value="4">Ford</option>
						 <option value="30">Honda</option>
						 <option value="10">Hyundai</option>
						 <option value="25">Jaguar</option>
						 <option value="28">Jeep</option>
						 <option value="5">KIA</option>
						 <option value="22">Land Rover</option>
						 <option value="18">MINI</option>
						 <option value="20">Maserati</option>
						 <option value="16">Mercedes-Benz</option>
						 <option value="12">Mitsubishi</option>
						 <option value="8">Nissan</option>
						 <option value="6">Peugeot</option>
						 <option value="15">Porsche</option>
						 <option value="396">RAM</option>
						 <option value="7">Renault</option>
						 <option value="382">Smart</option>
						 <option value="168">SsangYong</option>
						 <option value="23">Subaru</option>
						 <option value="27">Toyota</option>
						 <option value="2">Volkswagen</option>
						 <option value="9">Volvo</option>
						</select>
						</div>
				</td>
				<td class="center border0">
						<div  id="containerBrands_3">
						<select id="idMarca3">
						 <option value="-1">Selecciona una marca</option>
						 <option value="13">Alfa Romeo</option>
						 <option value="11">Audi</option>
						 <option value="14">BMW</option>
						 <option value="3">Chery</option>
						 <option value="24">Chevrolet</option>
						 <option value="31">Chrysler</option>
						 <option value="19">Citroën</option>
						 <option value="29">Dodge</option>
						 <option value="17">Ferrari</option>
						 <option value="1">Fiat</option>
						 <option value="4">Ford</option>
						 <option value="30">Honda</option>
						 <option value="10">Hyundai</option>
						 <option value="25">Jaguar</option>
						 <option value="28">Jeep</option>
						 <option value="5">KIA</option>
						 <option value="22">Land Rover</option>
						 <option value="18">MINI</option>
						 <option value="20">Maserati</option>
						 <option value="16">Mercedes-Benz</option>
						 <option value="12">Mitsubishi</option>
						 <option value="8">Nissan</option>
						 <option value="6">Peugeot</option>
						 <option value="15">Porsche</option>
						 <option value="396">RAM</option>
						 <option value="7">Renault</option>
						 <option value="382">Smart</option>
						 <option value="168">SsangYong</option>
						 <option value="23">Subaru</option>
						 <option value="27">Toyota</option>
						 <option value="2">Volkswagen</option>
						 <option value="9">Volvo</option>
						</select>
						</div>
				</td>
</tr>
<tr>
				<td class="center border0">
					<div class="container1" id="containerModels_1">
							<select id="idModelo1">
								<option value="-1">Selecciona un modelo</option>
							</select>
					</div>
				</td>
				<td class="center border0">
					<div class="container1" id="containerModels_2">
							<select id="idModelo2">
								<option value="-1">Selecciona un modelo</option>
							</select>
					</div>
				</td>
				<td class="center border0">
					<div class="container1" id="containerModels_3">
							<select id="idModelo3">
								<option value="-1">Selecciona un modelo</option>
							</select>
					</div>
				</td>
</tr>
<tr>
				<td class="center border0">
					<div class="container3" id="containerVersions_1">
							<select id="idsubModelo1">
								<option value="-1">Selecciona una versión</option>
							</select>
					</div>
				</td>
				<td class="center border0">
					<div class="container3" id="containerVersions_2">
							<select id="idsubModelo2">
								<option value="-1">Selecciona una versión</option>
							</select>
					</div>
				</td>
				<td class="center border0">
					<div class="container3" id="containerVersions_3">
							<select id="idsubModelo3">
								<option value="-1">Selecciona una versión</option>
							</select>
					</div>
				</td>
</tr>
</tbody>
	</table>

</div>
<div class="contentBtn"><input value="Comparar" id="compare" class="button" type="button"></div>

							</div>
							
						</div>
					</section>
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contactar</h2>
							</header>

							<p>Encuentra las últimas novedades</p>
							
							<form method="post" action="#">
								<div class="row 50%">
									<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>
			
			</div>

		<!-- Footer -->
			<div id="footer">
				
				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				
			</div>

	</body>
</html>